<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Login</title>
    <style>
        #login{
            border : 1px solid;
            margin-top: 200px;
            width: 520px;
            background-color: aliceblue
        }
        body{
            background-image: linear-gradient(#2980b9,#6dd5fa);
            height:100vh;
        }  
    </style>
</head>
<body>
    

    
    <div id="app">
           
        <div class="container" id="login">
            <div class="row"style="margin-top:10px">
                <div class="input-field col s12">
                    <input  id="first_name2" type="text" class="validate" v-model="email">
                    <label class="active" for="first_name2">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input  id="first_name2" type="password" class="validate" v-model="password">
                    <label class="active" for="first_name2">Password</label>
                </div>  
            </div>
            <div class="row">
                    <center>
    
                        <div class="input-field col s6">
                            <button class="btn waves-effect 2196f3 blue" type="submit" name="action" v-on:click="login">Login
                                <i class="fas fa-sign-in-alt"></i>
                            </button>
                            <br>
                            <br>
                            <a href="http://localhost:8080/register.html">create account</a>
                        </div>  
                        <div class="input-field col s6">
                            <div class="fb-login-button" data-max-rows="1" data-size="large" 
                            data-button-type="login_with"  scope="public_profile,email" onlogin="checkLoginState();"
                            data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                        </div> 
                    </center>
                    </div>
        </div>
    </div>


    <script src="./js/loginfb.js"></script>
    <script src="./js/user.js"></script>
    <script>
        let token = localStorage.getItem('token')
        if(token){
            window.location ="http://localhost:8080/home.html"
        }
    
    </script>
    </body>
</html>